body{
    background-color: #E9ECEF;

}
.h1{
    display: inline-block;
    color: darkgreen;
    padding: 10px;
    border-bottom-left-radius: 10px;
    background-color: #00B2A9;
    font-family:'Abril Fatface', cursive;
    margin-top: 100px;
    margin-bottom: 50px;
}
div{
    display: block;
    text-align: center;
}
a:hover{
    color:lightgreen;
    font-size: 25px;
}
.home,.kits,.aboutus,.team{
    font-size: large;
    font-family:'Abril Fatface', cursive;
    color:#355764;
    text-decoration: none;
    border: 5px solid black;
    background-color: burlywood;
}
h2{
    background-color: #FEB139;
    display: inline-block;
    color: chocolate;
    padding: 10px;
    border: 5px double darkorange;
    font-family:'Abril Fatface', cursive;
    margin-top: 50px;
    margin-bottom: 40px;
}
p{
    color: #53BF9D;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    text-align: center;
}
ul{
    letter-spacing: 3px;
    display: inline-block;
    list-style-position: inside;
    font-family:'Abril Fatface', cursive; 
    font-weight: lighter;

}
.gs,.rm,.fcb,.acm,.liv{
    width:500px;
    height:300px;   
}
#gal{
    color: orange;
    margin-bottom: 15px;
}
#rea{
    color: white;
    margin-bottom: 15px;
}
#bar{
    color: #B22727;
    margin-bottom: 15px;
}
#acm{
    color:#F32424;
    margin-bottom: 15px;
}
#liv{
    color: #53BF9D;
    margin-bottom: 15px;
}
.vis{
    display: inline-block;
    font-size: 26px;
    background-color: #355764;
    color: #EF5B0C;
}
.mis{
    display: inline-block;
    font-size: 26px;
    background-color: #355764;
    color: #EF5B0C;
}